.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4271px;
}
.container header {
  width: 100%;
}
.container header .header-container {
  background-image: url("../Images/image 1.png");
  height: 820px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}
.container header .header-container__title {
  width: 100%;
  height: 26px;
  left: 15px;
  top: 13px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
}
.container header .header-container__sub-title {
  width: 100%;
  height: 26px;
  left: 13px;
  top: 50px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #ffffff;
  white-space: nowrap;
  margin-top: 11px;
}