.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4271px;
}
.container header {
  width: 100%;
}
.container header .header-container {
  background-image: url("../Images/image 1.png");
  height: 820px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}
.container header .header-container__title {
  width: 100%;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
}
.container header .header-container__sub-title {
  width: 100%;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #ffffff;
  white-space: nowrap;
  margin-top: 11px;
}
.container header .header-container .search {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 653px;
  width: 100%;
  height: 63px;
  margin-bottom: 100px;
}
.container header .header-container .search__text-box {
  width: 503px;
  height: 63px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  text-align: center;
  border: none;
}
.container header .header-container .search__text-box:focus-visible {
  outline: none;
}
.container header .header-container .search__text-box::-webkit-input-placeholder {
  top: 19px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.container header .header-container .search__text-box::-moz-placeholder {
  top: 19px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.container header .header-container .search__text-box:-ms-input-placeholder {
  top: 19px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.container header .header-container .search__text-box::-ms-input-placeholder {
  top: 19px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.container header .header-container .search__text-box::placeholder {
  top: 19px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}
.container header .header-container .search .btn {
  color: white;
  width: 153px;
  height: 65px;
  background-color: #5474fd;
  border: 3px solid #ffffff;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.container header .header-container .search .btn .fa-search {
  width: 22px;
  height: 24px;
  left: 614px;
  top: 21px;
}
.container header .header-container .search button:hover {
  background-color: #002ead;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.container header .header-container .scroll {
  width: 123px;
  height: 26px;
  left: -8px;
  top: -1px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #ffffff;
}
.container header .header-container .fav-icon {
  color: #ffffff;
  height: 46px;
}
.container header .menu-bar {
  background-color: #5474fd;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10%;
  color: #ffffff;
  text-transform: uppercase;
}
.container header .menu-bar__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.container header .menu-bar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header .menu-bar__links li {
  list-style-type: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}